In [2]:
import pandas as pd

In [5]:
#Carregamento
df = pd.read_csv('sales_data.csv')

#Exibição
df.head(5)

                  Data                   Produto  Quantidade    Preço
0                  NaN         Hyper Disco Ultra        41.0  1282.09
1                  NaN     Power Processador Max         NaN  1459.91
2  2024-01-19 05:39:08  Hyper Placa de Vídeo Pro         7.0   271.15
3  2023-08-02 02:35:30         Power Fonte Ultra        25.0  1075.75
4  2024-01-25 01:40:29           Mega Placa X200         NaN   791.23

In [6]:
df.shape

(300, 4)

In [7]:
df.isnull().sum()

Data          30
Produto       30
Quantidade    30
Preço         30
dtype: int64

In [11]:
# Retirando dados nulos
df_limpo = df.dropna()
# Retirando dados duplicados
df_limpo = df_limpo.drop_duplicates()
df_limpo.isnull().sum()

Data          0
Produto       0
Quantidade    0
Preço         0
dtype: int64

In [13]:
df_limpo.shape

                  Data                   Produto  Quantidade    Preço
2  2024-01-19 05:39:08  Hyper Placa de Vídeo Pro         7.0   271.15
3  2023-08-02 02:35:30         Power Fonte Ultra        25.0  1075.75
6  2023-02-19 05:33:03          Turbo Placa Plus        12.0  1240.29
7  2024-01-13 00:30:18           Super Fonte Pro        33.0  1067.46
9  2024-06-20 07:36:59          Mega Disco Ultra        35.0   399.67

In [14]:
df_limpo.head(5)

                  Data                   Produto  Quantidade    Preço
2  2024-01-19 05:39:08  Hyper Placa de Vídeo Pro         7.0   271.15
3  2023-08-02 02:35:30         Power Fonte Ultra        25.0  1075.75
6  2023-02-19 05:33:03          Turbo Placa Plus        12.0  1240.29
7  2024-01-13 00:30:18           Super Fonte Pro        33.0  1067.46
9  2024-06-20 07:36:59          Mega Disco Ultra        35.0   399.67

In [15]:
# Transformando tipos de dados
df_limpo['Data'] = pd.to_datetime(df_limpo['Data'])

In [16]:
# Salvando dados tratados em um no csv
df_limpo.to_csv('sample_data_limpo.csv', index = False)
print('Dados salvos com sucesso')

Dados salvos com sucesso

ETL com Integração a um Banco de Dados (SQLAlchemy)

In [19]:
# IMPORTAÇÕES
# Fazer as devidas instalações se necessario
import pandas as pd
from sqlalchemy import create_engine

In [20]:
engine = create_engine('sqlite:///vendas.db')

df = pd.read_csv('sales_data.csv')

df_limpo = df.dropna().drop_duplicates()

df_limpo.to_sql('vendas_turu', con= engine, if_exists='replace', index = False)
print("Salvo!")

Salvo!

Automatizando com Parâmetros Dinâmicos

In [25]:
def executar_etl(tipo_transformacao):
  df = pd.read_csv('sales_data.csv')

  if tipo_transformacao == 'remover nulos':
    df_limpo = df.dropna()
  elif tipo_transformacao == 'remover duplicates':
    df_limpo = df.drop_duplicates()
  else:
    df_limpo = df

    df_limpo.to_csv(f'Vendas_{tipo_transformacao}.csv', index = False)
    print(f"Deu bom: {tipo_transformacao}")


executar_etl('remover nulos')
executar_etl('remover duplicates')
executar_etl('df_limpo')

Deu bom: df_limpo

Agendando ETL com schedule

In [26]:
# IMPORTAÇÕES
# Fazer as devidas instalações se necessario
import schedule
import pandas as pd
import time

In [27]:
def executar_etl():
    # Extração
    df = pd.read_csv('sales_data.csv')

    # Transformação
    df_clean = df.dropna().drop_duplicates()

    # Carga
    df_clean.to_csv('vendas_transformadas.csv', index=False)
    print("ETL executado e dados salvos.")

# Agendar o ETL para rodar a cada minuto
schedule.every(1).minutes.do(executar_etl)

# Loop infinito para manter o agendamento
while True:
    schedule.run_pending()
    time.sleep(1)

ETL executado e dados salvos.

KeyboardInterrupt: